html, body, nav {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 80%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.transparent {
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha value (0.5) to control transparency */
    color: white; /* Set the text color to black */
}

::placeholder {
    color: white;
}

.form-text {
    color: white;
}

h1 {
    color: white;
}